<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Twitter Sentimap - by Sam Nolen</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello!</h1>
            <h4>Please enter a search term.</h4>
    			<form id='input' method='post' action='index'>	
	  			<p>
					Keyword: <input type='text' name='key' />
	  			</p>
	  			<p>
					<input type="checkbox" name='city' value='Chicago'>Chicago<br>
					<input type="checkbox" name='city' value='LosAngeles'>Los Angeles<br>
					<input type="checkbox" name='city' value='NewYork'>New York<br>
					<input type="checkbox" name='city' value='SanFrancisco'>San Francisco<br>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>
		</div>
	</body>
</html>